[2014-04-16 15:20] rafacarrascosa opened #1 "Cache evidence vectorization to improve speed"
Once the BootstrappedIEPipeline starts running the Evidence instances generated are (kind of) read-only.

The same evidences will be generated over and over in stage 1. Therefore, the vectorization needed for the classifier at stages 3 and 5 could be cached for future pipeline cycles, improving the execution speed.

[2014-04-16 15:30] rafacarrascosa opened #2 "Bad behavior if only positive or only negative evidence present"
Classification fails (is impossible) if only negative (or only positive) evidence is present.
Right now, a fail (an un-captured exception) raises if only negative examples are present.

This issue has not been consciously addressed and correct behavior should be ensured.

"What is correct behavior?" is open for discussion, what I propose is: In all stages of the pipeline except the human interacti

[2014-04-16 19:35] rafacarrascosa opened #3 "Generate seeds scripts suggest reflexive relationships"
Running:

[code]

Suggests things like the one in the attached screenshot, which is silly and IMHO should be avoided.

(reported by jmansilla)

![reflexive_questsion](https://cloud.githubusercontent.com/assets/1807764/2724198/3903bf56-c59e-11e3-9898-5a5b95253820.png)

[2014-04-16 19:37] rafacarrascosa opened #4 "Generate seeds silently do nothing with invalid entity kind provided"
Would be great to add the following features to the `generate_seeds` script:
- Option `--list-entity-kinds` that prints the available entity-kinds
- When a non existent entity kind is provided, print a message saying so and suggesting to list them with the option mentioned above.

(reported by jmansilla)

[2014-04-16 19:40] rafacarrascosa opened #5 "Script for downloading 3rd party data shall check if each download is needed"
Right now `download_third_party_data.py` re-download data without checking if it's necessary. It would be great if it only downloaded what is necessary.

(reported by jmansilla)

[2014-04-16 21:26] #3 closed, assigned to jmansilla

[2014-04-16 21:26] #5 closed, assigned to jmansilla

[2014-04-23 14:55] francolq opened #6 "bootstrap fails if every evidence is labeled as False"
The bug can be reproduced answering 'n' to a question and then 'run'.

In my case:
$ python scripts/iepy_runner.py house_pages_current seeds.csv facts.csv
...
(y/n/d/run/STOP): n
...
(y/n/d/run/STOP): run
...
Traceback (most recent call last):
  File "scripts/iepy_runner.py", line 40, in <module>
    p.force_process()
  File "/home/francolq/Documents/comp/machinalis/iepy/iepy/core.py", line 318, i

[2014-04-23 15:08] francolq opened #7 "bootstrap uses wrong entity types starting from 2nd iteration"
I start with seeds of type (disease, symptom) but in the second round of questions IEPY starts asking about (disease, disease).

In my case I run with the command:
$ python scripts/iepy_runner.py house_pages_current seeds.csv facts.csv

[2014-04-23 15:27] #6 closed, assigned to nobody

[2014-04-23 15:36] jmansilla opened #8 "generalize_knowledge never ends with no that big datasets"
It's accessing the DB too many times. Refactor needed.

[2014-04-23 15:38] jmansilla opened #9 "Decide if the database can be speeded up by adding indexes"
When "speeding up" the database, the focus shall be put on the operations needed for running iepy core, not the preprocessing.

[2014-04-23 18:20] #7 closed, assigned to jmansilla

[2014-04-23 18:29] #2 closed, assigned to rafacarrascosa

[2014-04-23 20:25] #8 closed, assigned to jmansilla

[2014-04-23 20:43] rafacarrascosa opened #10 "Add more logging to core.py"
That, adding more logging to the pipeline in core.py would be useful

[2014-04-23 21:05] #10 closed, assigned to nobody

[2014-04-23 23:07] rafacarrascosa opened #11 "Add Sphinx docs"
Add Sphinx stuff to the docs, so we can integrate the documentation into readthedocs easily.

[2014-04-24 15:38] #9 closed, assigned to jmansilla

[2014-04-25 16:00] #11 closed, assigned to nobody

[2014-04-25 21:08] francolq opened #12 "IEPY runner outputs some facts with no evidence"
Specifically, those facts that are seed facts. For instance:

disease,botulism,symptom,paralysis,CAUSES,,,,,1

[2014-04-30 15:37] jmansilla opened #13 "Add ability to override Entity Ocurrences"
In our example tvseries app, the word "House" which refers to the _person_ is instead labeled as _organization_ by the default NER[1] we have

[1] probably because our NER was trained with the WallStreetJournal so it may refer to the White House... dunno.

[2014-05-06 16:59] jmansilla opened #16 "Replace deprecated code when using MongoEngine"
Running the preprocess, or the tests under python 2 logs:

DeprecationWarning: get_or_create is scheduled to be deprecated.  The approach is flawed without transactions. Upserts should be preferred.

[2014-05-06 17:00] #13 closed, assigned to jmansilla

[2014-05-06 17:55] jmansilla opened #17 "Generate reference corpus shall allow to continue existent reference"

[2014-05-07 18:51] #17 closed, assigned to nobody

[2014-05-07 18:52] jmansilla opened #18 "Change format of knowledge on CSV so it can survive NER changes on the database"

[2014-05-09 20:49] #18 closed, assigned to jmansilla

[2014-05-12 18:49] jmansilla opened #19 "Error downloading third party data"
javier@my_computer:~/repo$ python scripts/download_third_party_data.py
Downloading third party software...
Downloading punkt tokenizer
[nltk_data] Downloading package 'punkt' to /home/javier/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
Downloading wordnet
[nltk_data] Downloading package 'wordnet' to /home/javier/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.
Traceback (mos

[2014-05-16 17:18] jmansilla opened #20 "LiteralNER shall tokenize each entry"
Right now our LiteralNER is _very_ literal, so in some cases is not working.

Example: an entry like this

[code]

Is never found because the documents will be tokenized, transforming this

[code]

into this

[code]

making impossible a match (notice that **'s** is a separated token).

Also, what make things harder is that the tokenizer to use while parsing the LiteralNER entries **must** be the s

[2014-05-16 19:27] francolq opened #21 "Bootstrap adds to knowledge evidence that was labeled as negative by the user"
The filter_facts step adds to knowledge the evidence that was classified as positive with high probability but doesn't check if the evidence was already labeled as negative by the user.

[2014-05-19 16:05] #21 closed, assigned to francolq

[2014-05-19 18:27] francolq opened #22 "broken script cross_validate"
Traceback (most recent call last):
  File "scripts/cross_validate.py", line 114, in <module>
    accuracy, precision, recall = main(opts)
  File "scripts/cross_validate.py", line 67, in main
    standard = Knowledge.load_from_csv(options['<gold_standard>'], connection)
TypeError: load_from_csv() takes exactly 2 arguments (3 given)

[2014-05-21 06:54] #22 closed, assigned to nobody

[2014-05-22 19:55] jmansilla opened #23 "Dead code to remove"
the method __confidence_ of class BootstrappedIEPipeline is not being used

Should we remove it?

[2014-05-23 15:58] francolq opened #24 ""frequency filter" feature selection is ignoring feature_selection_dimension parameter"

[2014-05-23 18:14] #24 closed, assigned to francolq

[2014-05-23 19:40] francolq opened #25 "the features shouldn't include information about the involved entities"
Features such as bag_of_words, bag_of_pos, bag_of_wordpos and their bigram versions shouldn't include the two entities involved in the evidence.

[2014-05-28 13:53] francolq opened #26 "tokenizer not correctly splitting some contractions"
The tokenizer is not following standard contraction tokenization [0], expected by the Stanford POS tagger. Contractions are not splitted and should be.

Also, the apostrophe character ´ is not handled.

[0] http://www.cis.upenn.edu/~treebank/tokenization.html

[2014-05-28 18:04] francolq opened #27 "frequency_filter feature selection doesn't work with sparse matrices"
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/francolq/Documents/comp/machinalis/experimental/iepy/scripts/iepy_runner.py", line 51, in <module>
    p.force_process()
  File "iepy/core.py", line 1

[2014-05-30 15:42] #27 closed, assigned to nobody

[2014-06-06 18:50] #23 closed, assigned to jmansilla

[2014-06-06 19:58] #19 closed, assigned to jmansilla

[2014-06-09 16:31] jmansilla opened #28 "IEPY raises IndexError sometimes when classifier is using weighted classes"
Classifier configuration:

[code]

Full traceback:

[code]

[2014-06-09 16:35] jmansilla opened #29 "IEPY raises ValueError ColumnFilter eliminates all columns!"
Classifier Configuration:

[code]

Full traceback:

[code]

[2014-06-09 18:08] #28 closed, assigned to jmansilla

[2014-06-09 18:23] jmansilla opened #30 "RuntimeWarning: invalid value encountered in double_scalars"
RuntimeWarning: invalid value encountered in double_scalars
  scale = lambda x: (x - min_score) * range_delta / score_range + range_min

shall we worry about this?

[2014-06-09 18:41] #29 closed, assigned to jmansilla

[2014-07-03 18:42] francolq opened #31 "wrong use of CombinedNERRunner in preprocess template"
iepy/app_preprocess.py.template

[2014-07-03 18:49] francolq opened #32 "scripts and templates not usable when installing with pip+git"
Installing IEPY with the following command
  $ pip install git+https://github.com/machinalis/iepy
makes scripts difficult to access and templates directly unavailable.

Maybe a single binary 'iepy' could be provided to give access to the scripts.

[2014-07-03 18:55] francolq opened #33 "logging error in createdb template"
Last parameter is missing:
logger.info('Database %s created with %i documents', dbname, )

[2014-07-03 19:39] #31 closed, assigned to nobody

[2014-07-03 19:39] #33 closed, assigned to nobody

[2014-07-16 22:10] francolq opened #34 "cannot inherit from IEDocument"
In my own app I am trying to subclass IEDocument to have additional fields and methods, but mongoengine says I can't do it. Not sure if bug or design decision, but it would be useful in my case to be able to subclass IEDocument.

For instance:

[2014-08-04 14:24] marcossponton opened #35 "add a public list and some discussion channel"

[2014-08-07 12:21] francolq opened #36 "preprocessing: override not working"
Setting override=True in any step of the pipeline has no effect. I think the problem is in PreProcessPipeline, where get_documents_lacking_preprocess() is used regardless if we are trying to override.

[2014-08-13 23:00] #36 closed, assigned to nobody

[2014-09-23 03:23] francolq opened #37 "packages missing in setup.py"
Only "iepy" is listed.

[2014-10-08 19:45] rafacarrascosa opened #39 "Add lemmas/stemming calculated by CoreNLP to database"
Some features of the classifier in fact_extraction require stemming and/or lemmatization.
This is currently done using nltk.
Since CoreNLP already calculates this information during preprocessing it would be more efficient to save that information into the database and then reuse it (instead of re-calculatting it).

[2014-11-04 08:53] LaundroMat opened #41 "Cannot start core without candidate evidence"
Hi,

I'm interested in the whole subject matter of iepy, but the vocabulary and theories attached to NLP are very new to me. My apologies if what I'm asking shows a complete lack of understanding.

I've installed iepy, and created a simple .csv file and imported it:

[code]

Then preprocessed:

[code]

Using the web interface, I created a relation called `rvb` and an entity kind Èntity` (to which

[2014-11-04 14:32] #37 closed, assigned to nobody

[2014-11-04 14:33] #16 closed, assigned to nobody

[2014-11-04 14:35] #4 closed, assigned to nobody

[2014-11-04 14:36] #32 closed, assigned to francolq

[2014-11-05 17:34] rafacarrascosa opened #42 "Download 3rd party downloads things that are not used"
The download 3rd party scripts downloads additional packages that are not needed, like:
- Stanford NER
- Stanford postagger
- nltk stuff (perhaps not needed, really not sure).

The script should only download what is actually used by IEPY.

[2014-11-05 17:41] rafacarrascosa opened #43 "Document warning about sqlite performance"
By default a `iepy --create` instantiation uses a sqlite database. Since the performance of this database is awful it would be a good thing to warn the user about this in the documentation.

[2014-11-05 22:44] rafacarrascosa opened #44 "Import/Export of annotated corpora"
It would be great to have a tool to import and export annotated corpora.
That would allow us to easily share the corpora that we already have (perdate and orgloc) and to receive contributions from future IEPY users.

[2014-11-06 05:12] rafacarrascosa opened #45 "Arrow direction in corpora construction UI"
Hi, I've noticed that the direction of the arrows when you are building a corpus (labeling by hand) depends on the order you click the entity ocurrences but has no relation with the order that the entity kinds have in a relation.

I don't know if it's intentional or not, I just noticed it and wanted to leave record.

[2014-11-06 13:10] #45 closed, assigned to nobody

[2014-11-06 15:08] j0hn opened #46 "Rules are not being loaded"
There's a re-definition of the "rules" variable at:

https://github.com/machinalis/iepy/blob/master/iepy/instantiation/iepy_rules_runner.py#L43

This means rules are not being loaded

[2014-11-07 17:43] dchaplinsky opened #47 "Cannot use pre_process.py under mac os"
Apparently the problem is in
corenlp.sh
which is sitting here:
/Users/dchaplinsky/Library/Application Support/iepy/stanford-corenlp-full-2014-08-27/corenlp.sh
and dirname $0 fails because of space in the path.

Fixed it by patching .sh to use dirname "$0"

I understand that this is more like StanfordNER problem, but might be my hack will be useful to somebody.

[2014-11-07 19:47] dchaplinsky opened #48 "Big texts are breaking import process"
I've tried to import my corpus of ukrainian texts and apparently one of them was too big for iepy:

[code]

While I understand that having such a text in corpus is a bit stupid I think good solution here would be:
- Capture exception
- Show warning
- Continue import

[2014-11-08 21:58] dchaplinsky opened #49 "Problems with relations rendering in FF 33.0.3/Mac"
![labeling evidence for relation test organization person iepy 2014-11-08 23-56-51](https://cloud.githubusercontent.com/assets/131186/4965717/4e0bd258-6792-11e4-8faa-910b857e9d61.png)

![labeling evidence for relation test organization person iepy 2014-11-08 23-58-09](https://cloud.githubusercontent.com/assets/131186/4965718/5a06d3a0-6792-11e4-9b63-d34bd73cdb4b.png)
Looks like it's related to wind

[2014-11-08 23:57] rafacarrascosa opened #50 "Raise warning if installing with python 2"
Enhancement proposal by @makmanalp thanks  for reporting!

"While installing, it took me a minute to realize that it was python 3 only, which is not a big deal, but it might help to have something in setup.py that errors out and gives you a message if you try to do that - or maybe there's a way in pypi to disallow from installing on python 2?"

[2014-11-12 14:03] jmansilla opened #51 "Running iepy_runner, by default use the extractor_config.json on the instance"
Right now, if no **--extractor-config** option is passed, iepy will use the internal python defaults.

If I create an instance, it sounds a bit boilerplate the obligation of having to explicitely say

   **--extractor-config=extractor_config.json** each time.

[2014-11-12 14:21] j0hn opened #52 "rules runner does not take a relation parameter"
Every other script on the instances takes a parameter for the relation used, but the rules runner takes it from the rules.py file.

For uniformity purposes we should think how can we change that, having in mind that a set of rules is specific to a relation.

I open this to discussion

[2014-11-12 19:39] #41 closed, assigned to nobody

[2014-11-18 14:28] jmansilla opened #53 "Document Corpus Navigation"
On documentation is not completely clear that once you run the preprocess you can already browse and edit the processed data.

[2014-11-18 16:03] #35 closed, assigned to nobody

[2014-11-18 16:03] #39 closed, assigned to j0hn

[2014-11-18 16:03] #43 closed, assigned to j0hn

[2014-11-18 16:03] #46 closed, assigned to j0hn

[2014-11-18 16:03] #47 closed, assigned to j0hn

[2014-11-18 16:03] #48 closed, assigned to j0hn

[2014-11-18 16:03] #49 closed, assigned to j0hn

[2014-11-18 16:03] #50 closed, assigned to nobody

[2014-11-18 16:03] #51 closed, assigned to j0hn

[2014-11-18 17:30] jmansilla opened #54 "Mention bugtrucker (this one on github) on setup.py"
As an example, this package is doing it

https://pypi.python.org/pypi/demiurge

[2014-12-03 14:13] #54 closed, assigned to nobody

[2014-12-29 18:22] jmansilla opened #55 "Provide some ability for running pre-process in parallel"
A simple approach that we tried with success is:
 - to run preprocess per document, instead of per-step. (Ie, grab a document, run all it's steps, save, grab next one, etc)
 - create several workers (forking, why not?)
 - create some policy for distributing documents between them

[2014-12-29 19:38] rafacarrascosa opened #56 "Instalation fails if numpy is not pre-instaled"
The [installation documentation](https://github.com/machinalis/iepy/blob/8e3f402005f32dc2cf14a70b8c1ea80f9c863777/docs/installation.rst) states that after installing system packages it's possible to install with  `pip install iepy` but that command fails because numpy is not installed (via scikit-learn dependency).

To fix this is enough to pre-install numpy. I can confirm that with `pip install n

[2014-12-29 19:41] rafacarrascosa opened #57 "psycopg2 not installed"
To use a postgresql database it's necessary to install `psycopg2`. This package is not a iepy requirement nor it's mentioned in the documentation.
I propose that:
 - Either make `psycopg2` a requirement of iepy,
 - or mention `psycopg2` in the documentation

[2014-12-29 20:11] rafacarrascosa opened #58 "Consider removing title and url from document model"
That, consider removing `title` and `url` fields from `iepy.data.models.IEDocument`

[2015-01-06 12:01] rafacarrascosa opened #59 "Better documentation for the prediction part"
Someone asked me:

I checked and that part seems to be lacking documentation, I leave here my answer in case it's useful for the documentation process:

[2015-01-06 12:03] rafacarrascosa opened #60 "Save predictions so they can be seen in the UI."
IIRC this was originally proposed by @jmansilla
I would be awesome if predictions could be saved as labelings so they could be seen and inspected from the web UI.

[2015-01-06 12:06] rafacarrascosa opened #61 "Wish: Self-contained prediction output format"
I would be great to have the option to output predictions in a self-contained format (ie, one that does not references DB objects). Currently predictions are outputted as a (evidence-id, boolean) csv file.

[2015-01-06 12:10] rafacarrascosa opened #62 "Predict over text not present in the DB"
It would be great to provide a functionality to predict a relation over tsome ext without asking you to insert that text in to the database.
This could be really useful for applications where IEPY is mounted as a service and the corpora is not known in full a-priori.

[2015-01-08 18:25] log0ymxm opened #63 "Use of pip.req.parse_requirements breaks with newer versions of pip"
Using parse_requirements isn't a recommended way to deal with setup.py & requirements.txt dependencies. This is because you can't be sure of the pip version used by someone installing your package.

With pip 6.0.6 on python 3.4 attempting to install iepy ends up with the following error.

[code]

One thing I've seen is to have the dependencies only specified in setup.py, and in requirements.txt si

[2015-01-08 18:59] rafacarrascosa commented on #63
Hi Paul, thanks for the report.

We just tripped with this issue a few days ago and commited a hotfix in the development branch using PipSession, which was an optional argument in older versions of pip... it's not ideal but it works for now :(

Your fix suggestion is interesting, what do you think of it @jmansilla?

[2015-01-08 20:07] jmansilla commented on #63
I like what Paul is mentioning, and sounds less hackish (ie, lower dependence on what pip boys decide).

[2015-01-08 20:24] log0ymxm commented on #63
I came across that in a comment on [this post](https://stackoverflow.com/questions/14399534/how-can-i-reference-requirements-txt-for-the-install-requires-kwarg-in-setuptool). It's noted that pip isn't supported as an API

Additionally another answer in that thread offers up the solution I proposed.

[2015-01-08 20:30] rafacarrascosa commented on #63
@log0ymxm yeah, I got the same answer a few days ago:
https://github.com/pypa/pip/issues/2286
https://github.com/pypa/pip/issues/2287

[2015-01-09 17:55] jmansilla commented on #58
I like it.
And even more, I'm thinking that entire metadata field should be removed too. It's adding extra weight to the database for no gain inside iepy.

[2015-01-09 17:59] jmansilla commented on #62
+1

[2015-01-09 19:11] francolq commented on #58
I agree about removing `title` and `url`. I would keep the `metadata`. In our application, we currently use it to store information that is used in our own document navigation application.

[2015-01-09 19:31] jmansilla opened #64 "Drop metadata fields on IEDocuments"
Discussion started on #58, but let's move it to a separated place:

Motivation:

The entire metadata field should be removed. It's adding extra weight to the database for no gain inside iepy for the ultimate goal of information extraction.

I know it may be useful in some cases, but I believe that the core of iepy doesn't need that.

When we need to deal with hundreds of documents, it may harm per

[2015-01-09 19:54] jmansilla commented on #61
+1
It's open to the discussion which format.

[2015-01-09 20:05] rafacarrascosa commented on #58
Mmm... would it be possible to replace metadata and such by adding a 1-to-1 model wrt IEDocument?

That way we could remove it and encourages our users to do this "trick" the same way Django does with the User model.

[2015-01-09 21:08] francolq commented on #64
Ok for me if you go for b).

[2015-01-16 21:33] rafacarrascosa opened #65 "Memory usage of rules.py"
rules.py has a number of caches for performance.
At least one of this caches is still prone to memory "leaks"[0], namely: cached_segment_enriched_tokens
I could verify this using a memory profiler.

Besides fixing this, it would be great to take a look at all functions in this module to double check that there are no more potential leaks (two weeks ago there was another cache "leak" fixed in this

[2015-01-19 21:40] rafacarrascosa commented on #65
I commited a fix for this replacing a hand made cache with a `lru_cache` with a limited memory.
The replaced code had a warning *against* using `lru_cache` for this task... so I wrote some tests to check that the adverse effect was not happening and replaced with `lru_cache`.

[2015-01-23 21:27] rafacarrascosa opened #66 "Unintentional symmetrical evidence generated when labelling"
Somehow, when the GUI is used to label a relation that goes between same kind (ex: ORGANIZATION -> ORGANIZATION) the labeling is stored without regard for the order in which the clicks where made... like if the relation was symmetrical.

In concrete, if I label `A -> B` in the GUI (click A, then click B) the backend stores `A -> B` *and* `B -> A` in the database. Since not all relations are symmet

[2015-01-26 15:44] j0hn commented on #66
Fixed on 8fef548a120af2f5e7fb86cbfdca5932debd8306

[2015-01-26 15:44] #66 closed

[2015-01-26 16:12] rafacarrascosa commented on #66
Thanks!

[2015-01-27 13:54] pjhampton opened #67 "Stanford-CoreNLP Location Confliction"
Before starting an iepy instance, I use a pyvenv environment and install iepy + dependancies. After successfully doing this, I upload a corpus and go to preprocess it using the command:

`python bin/preprocess.py`

...and I get the traceback:

**Starting preprocessing step <iepy.preprocess.stanford_preprocess.StanfordPreprocess object at 0x103bfe160>
Loading StanfordCoreNLP...
Traceback (most rece

[2015-01-27 14:03] j0hn commented on #67
Hi, this sounds like a known issue with MacOS, see if this solves your problem: http://iepy.readthedocs.org/en/latest/troubleshooting.html#preprocess-not-running-under-macos

[2015-01-27 14:20] pjhampton commented on #67
Thanks for your guidance!

[2015-01-27 14:20] #67 closed

[2015-02-06 18:26] rafacarrascosa opened #68 "Remove the deprecated tvseries example"
There' s a  `/examples/tvseries` folder that has a deprecated example of an older version of IEPY, perhaps it should be removed

[2015-02-06 21:54] j0hn opened #69 "Evidence candidate stores a foreign key to relation and is not really needed."
I think that foreign key is not really used and can be spared. That would reduce the amout of candidate evidences if you use more than one relation with the same entity kinds.

[2015-02-08 15:15] pjhampton commented on #68
I agree, I tested it a couple of days ago and couldn't do much with it. Maybe this could be replaced with an machine learning example as the birthdate/ example is rule based?

[2015-02-09 16:12] rafacarrascosa commented on #68
Damn, sorry about that @pjhampton , that's precisely what I wanted to avoid...
I fixed it on develop

[2015-02-09 16:12] #68 closed

[2015-02-09 17:12] pjhampton commented on #68
That's no problem it was helpful in some ways!

[2015-02-26 17:57] j0hn commented on #58
closing this ticket so we follow the discussion on #64

[2015-02-26 17:57] #58 closed

[2015-03-03 15:47] jmansilla opened #70 "Update CORENLP version"
Right now IEPY is using corenlp 3.4.1

I understand that the main reason was to not require java8 (which is not provided by default on several linux distros), but stanford guys already release 3.5.0 and now 3.5.1 and I'm tempted to do the switch.

Maybe can be an option for the user (not sure, will make more confusing the installation from scratch)

[2015-03-03 17:35] #57 closed

[2015-03-03 17:35] #59 closed

[2015-03-03 17:35] #60 closed

[2015-03-03 17:35] #64 closed

[2015-03-03 17:35] #65 closed

[2015-03-03 17:35] #69 closed

[2015-03-12 18:57] #56 closed

[2015-03-12 19:31] #30 closed

[2015-03-12 19:32] jmansilla commented on #30
refers to some code that was removed

[2015-03-16 20:11] j0hn opened #71 "Using iepy on a instance created with a newer version, upgrading is requested."
For instance, if i have iepy 0.9.2 installed and try to run an instance which was created with iepy 0.9.3, a instance upgrade ir requested when a iepy upgrade is really needed.

[2015-05-12 13:50] jmansilla commented on #70
Done on release 0.9.4

[2015-05-12 13:50] #70 closed

[2015-05-12 13:51] #55 closed

[2015-05-12 13:51] #63 closed

[2015-05-12 13:52] jmansilla opened #75 "preprocess is not adding syntac parsing to documents preprocessed with old versions"

[2015-05-13 01:18] jmansilla opened #76 "java error when trying to runany iepy command"
[code]

[2015-05-14 19:12] jmansilla opened #77 "Preprocess is transforming quotes characters"
As stated here
http://nlp.stanford.edu/nlp/javadoc/javanlp-3.5.2/edu/stanford/nlp/process/PTBTokenizer.html

every input on the form of:

[code]

will be translated first to:

[code]

and later preprocessed. Providing these extra parameters to the corenlp.sh command line should fix it:

[code]

[2015-05-14 21:51] jmansilla opened #78 "When EntityOccurrences are built alias should be set using actual source text"
Right now, EO-alias is made up by concatenating involved tokens.

[2015-05-19 16:40] jmansilla opened #80 "Corpus labeling throws javascript error on firefox"
Error is raised when clicking on the first EntityOccurrence.
(using firefox 37.0.2)

"Error: event is not defined
$scope.eo_click@http://localhost:8000/static/js/document_questions.js:196:1
fb.prototype.functionCall/<@http://localhost:8000/static/js/vendor/angular.min.js:177:66
lc[c]</<.compile/</</f@http://localhost:8000/static/js/vendor/angular.min.js:194:174
Zd/this.$get</k.prototype.$eval@http

[2015-06-18 17:50] Brayden-Arthur commented on #76
(limo) limo@limo-ubuntu:~/limo$ iepy -h
Traceback (most recent call last):
  File "/home/limo/limo/bin/iepy", line 9, in <module>
    load_entry_point('iepy==0.9.4', 'console_scripts', 'iepy')()
  File "/home/limo/limo/lib/python3.4/site-packages/pkg_resources/__init__.py", line 521, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/home/limo/limo/lib/pyt

[2015-07-01 09:40] GilJ opened #82 ""No Evidence to Label""
I created a relation, and when I want to label some evidence about it, I receive the message that there is no evidence to label. I'm wondering if I am understanding IEPY wrong, or just doing something wrong.

What I'm doing is the following:
I have 200ish documents that I load up in IEPY with the bin/csv_to_iepy.py script.
My preprocessing consits out of 3 steps. In the first step I extract tokens

[2015-07-01 10:27] GilJ commented on #82
If it can be of any help. I created a rule to extract the same type of information:
[code]

The associated relation has a left entity of type 'number' and right entity of type 'space'.

Running ```python3 bin/rules_verifier.py "number_of_space"``` results in
[code]

[2015-07-01 10:36] francolq commented on #82
Not sure if this is the source of your problem, but I think you also need to do some kind of sentence segmentation ("sentencing").

[2015-07-01 13:09] GilJ commented on #82
I added sentence segmentation (each document was given the sentence structure [0, len(doc.tokens)], so the whole document was 1 sentence), but that did not seem to fix my issue.

Looking at all of my steps, this is what I add to document in each of the document's preprocessing step:
Let's assume my document (toy example) is
[code]

* The tokenizer results in
[code]
This is then used in the IEDocum

[2015-07-01 15:10] GilJ commented on #82
Apparently, I was missing the segments.

However, something that is also required to do annotate the evidence are the parsed sentences. For these however, I coulnd't find in the code how they had to look so I tried something, and now I can actually see documents to annotate, but I can't see their contents, so I'm assuming something is wrong.

Could anyone tell me what the correct format is of the

[2015-07-01 15:55] rafacarrascosa commented on #82
Hi Gilles, the format is a string like this:

    (ROOT (S (NP (DT The) (NN cat)) (VP (VBZ eats) (NP (NN fish))) (. .)))

Which is the Penn Treebank bracketing format for parse trees. It is not documented, it's true, sorry for that. If you want to play with more explamples of these kind of trees you can use this demo of CoreNLP: http://nlp.stanford.edu:8080/corenlp/

You can call `set_syntactic_pa

[2015-07-02 11:28] GilJ commented on #82
Hey @rafacarrascosa,

Thanks a lot, I passed the fake shallow tree like you suggested, but I'm not sure whether it worked.
When I create a relation, I can already go to the 'label evidence' part, but the page is empty:

![image](https://cloud.githubusercontent.com/assets/143378/8476101/20af84e0-20be-11e5-925f-da3fcc9ac71a.png)

Would this issue be related to my fake segmentation/parse trees?

[2015-07-03 13:06] rafacarrascosa commented on #82
Mmm, looks like javascript witchery, what do you think @j0hn ?

[2015-07-03 13:37] j0hn commented on #82
That looks like there's one sentence because i can see that the little tree icon is being displayed at the far right, if you click that, you should get a popup with the fake tree that you've set.

I'm not sure why it looks like there are no tokens on the sentence, i would check the database using the admin interface available in http://localhost:8000/admin
That might give you an idea of whether yo

[2015-07-03 15:53] GilJ commented on #82
I'd share my DB, but I'd prefer to fix it myself first, I'd need to create a DB with some toy examples instead of what I have now.

When looking at javascript errors, I get the following error when I want to label evidence for my relation:
[code]

Also, in the admin interface, I can see
* the correct entity kinds
* entity occurances appear to be correct, however when I click on one of them I get a

[2015-07-03 17:45] rafacarrascosa commented on #82
@GilJ It looks like you nailed it. NLP tools (like iepy's default: CoreNLP) usually just replace[0] special characters with tokens that are unlikely to appear by themselves:

 - `(` for `-LRB-` (left round bracket)
 - `[` for `-LSB-` (left square bracket)
 - `{` for `-LCB-` (left curly bracket)
 - ....

If you make these replacements yourself everything should be fine. Perhaps the best place to ap

[2015-07-05 17:44] GilJ commented on #82
That did solve the second issue I got (the ValueError), but I still have problems with the empty evidence labeling page.

The problem is that there are no entities on the page (```var $eo1 = $(".eo-" + eo_id1);``` returns nothing). Could anyone provide me with some steps or pointers on how to debug this?

[2015-07-06 01:37] jmansilla commented on #82
Gilles, you'll have answers for the full team :-)

Very glad to trying to help someone with your motivation and
trouble-fixing skills.

Not sure if this may be something or not, but... before digging issues
on javascript, I would recommend to use the remaining bullets on the
data-model.
Why? Well, because the User-Interface was built assuming that most of
the things on the data models are filled.

[2015-07-06 08:02] GilJ commented on #82
Hey Javier,

The lemmatization did the trick! I mistakingly assumed that it was optional, as IEPY started rendering some stuff on the front-end. The top of the [preprocess](http://iepy.readthedocs.org/en/latest/preprocess.html) page even states it, although not that clearly :-P.

As for my motivation, I'm working on a thesis on information extraction, and creating relations between my entities was

[2015-07-06 08:02] #82 closed

[2015-07-15 14:59] GilJ opened #83 "Labels with 'subcategories' + Easily Reset"
Hey guys,

I've been using IEPY for a while now, and it works really well!

I've got 2 questions
- My labels have some subcategories, for example, I got some labels that fall in the ```unit``` category that has some subcategories, for example: ```unit_liquid```, ```unit_solid``` and ```unit_other```, is there any way for IEPY to support this? If not, I'll just script something in my preprocess scr

[2015-07-16 13:00] j0hn commented on #83
Hi

* IEPY does not support subcategories out of the box, as you said, i think you'll have to hack something in your preprocess. If you find a good solution, it would be great if you could share it with us!

* IEPY uses Django, so If you're looking to delete all the data in the database you could use the command [flush](https://docs.djangoproject.com/en/1.7/ref/django-admin/#flush) like this:  `py

[2015-07-16 13:16] rafacarrascosa commented on #83
Hi Gilles,

I think that the easiest thing to do is to forget that `unit` exists and create new labels for each subclass.

If you want to work more: It could be useful to you problem lo label everything as `unit` and then adding a feature[0] to the classifier that differentiates `liquid`, `solid` and `other`...

Cheers!

[0] You could place your feature [here](https://github.com/machinalis/iepy/bl

[2015-07-30 22:21] KeironO opened #84 "Unable to run"
Running on Ubuntu 14.04. Installed six 1.9 to no avail.
[code]

[2015-07-31 13:27] jmansilla commented on #84
Hi there

Did this issue happen on a fresh virtualenv?

On Thu, Jul 30, 2015 at 7:21 PM, KeironO <notifications@github.com> wrote:

--
Javier Mansilla - Developer
www.machinalis.com
Skype: javier_mansilla

[2015-08-01 11:19] KeironO commented on #84
I was accidentally using the globally installed version of iepy, which was outside of the local sandbox.

All problems solved now :D

[2015-08-14 21:17] #84 closed

[2015-09-23 18:21] iScienceLuvr opened #85 "Builtin relations"
Are there builtin relations in iepy? if not, some should be added...

[2015-09-23 18:45] rafacarrascosa commented on #85
It could be a good thing! Perhaps as an example/kickstart....
Unfortunately we don't have the manpower right now to do it, but if you are willing to push something in this direction we have annotated corpora that could be used and we could guide you through it...

[2015-09-23 19:35] iScienceLuvr commented on #85
@rafacarrascosa where's this corpora?

[2015-09-23 20:26] paulhoule commented on #85
You've got to remember that NLP systems compete with the old IR systems that use primitive tricks like tf*idf.  Those work well enough for a range of problems and are easy to apply so that it takes a good amount of focused effort to get NLP systems to do better than bag-of-words.

If you want to make a system which is useful and "knocks their socks off" I think the thing to do is pick a small numb

[2015-09-23 21:32] iScienceLuvr commented on #85
@paulhoule check out Project-PP.github.io they have developed an OpenNLP system probably better than WolframAlpha in some respects.. they did this with Relation extraction, and their corpora wasnt very specific, it is open domain... I am looking into doing something like that

[2015-09-25 20:53] iScienceLuvr commented on #85
@rafacarrascosa  have you seen my messagea. I want to certainly do this project when I have time

[2015-09-25 21:11] rafacarrascosa commented on #85
@iScienceLuvr Yes! I saw them, unfortunately I'm overloaded with work and I want to give you a proper answer :S
I'll get back to you on monday when things are quiet-ish again.

[2015-09-25 21:47] iScienceLuvr commented on #85
@rafacarrascosa sure, can you send me a short answer now, and a longer one later?

[2015-09-26 23:41] iScienceLuvr commented on #85
May I also, ask how does IEPY deal wtih pronoun?

[2015-09-28 18:43] iScienceLuvr commented on #62
Has there been any progress on this @rafacarrascosa @jmansilla ?

[2015-09-28 22:14] rafacarrascosa commented on #85
@iScienceLuvr
WRT Corpora: The corpora is not public but last time I checked there was interest on doing something useful with that. We have tagged corpora for:
 - <person> was-born-in <data>
 - <organization> is-located-at <place>
I don't know if this is the kind of relation you had in mind... What would you like to offer out-of-the-box? What did you had in mind?

WRT Question sentences: Afaik th

[2015-09-28 22:14] rafacarrascosa commented on #62
@iScienceLuvr sorry, nothing on this yet

[2015-09-28 22:53] iScienceLuvr commented on #62
@rafacarrascosa what other research has been done on this?

[2015-09-28 22:53] iScienceLuvr commented on #85
@rafacarrascosa so I can't get the corpora? I wanted some more features...

[2015-09-29 00:30] rafacarrascosa commented on #85
@iScienceLuvr no, no, you got me wrong. The corpus is not public *now*, but perhaps it could be public if something good can come out of it (it depends on my bosses)... so, if you expand on what you would do, I could make an argument for the bosses

[2015-09-29 00:33] rafacarrascosa commented on #62
@iScienceLuvr nothing at all... the issue with this issue is that there are many queries to the DB here and there that need to be 'tapped' somehow to work with something that is now in the DB. if you want the ticket it's all yours!

[2015-09-29 01:39] iScienceLuvr commented on #62
@rafacarrascosa so how can I do this project? Idk where to start

[2015-09-29 05:03] iScienceLuvr commented on #85
@rafacarrascosa this is just a hobby, that is all

[2015-10-07 19:36] rafacarrascosa commented on #62
@iScienceLuvr  sorry for the absurd delay.
If I were to take this issue I would start here https://github.com/machinalis/iepy/blob/develop/iepy/extraction/active_learning_core.py trying to make the `predict` method to work without candidates in the database...

[2015-10-07 19:39] jmansilla commented on #62
Actually, if I recall correctly, that method is already working under the assumption that evidences are not in the DB. The challenge would be to build in your scripts Evidences resembling those that are created from the DB.

[2015-10-14 03:26] kevin1515 opened #86 "unable to run"
running on Ubuntu 15.04. Have the following errors. Tried to upgrade package of six, does not work.

(myevn) osboxes@osboxes:~/myevn/test$ iepy
Traceback (most recent call last):
  File "/home/osboxes/myevn/lib/python3.4/site-packages/pkg_resources/__init__.py", line 614, in _build_master
    ws.require(__requires__)
  File "/home/osboxes/myevn/lib/python3.4/site-packages/pkg_resources/__init__.py

[2015-10-14 04:40] cyberyu commented on #86
Same issue here,  first tried with pip install (Python 2.7)

sudo pip install iepy==0.9.4

leads to the error:

Collecting iepy==0.9.4
  Downloading iepy-0.9.4.tar.gz (556kB)
    100% |████████████████████████████████| 557kB 371kB/s
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 20, in <module>
      File "/tmp/pip-buil

[2015-10-19 15:05] jiffies opened #87 "java Permission denied"
After install iepy in a virtualenv environment,I get this error:
[code]
It looks like java can't be run.But I can run it from shell.
[code]
This is my java profile
[code]
I use ubuntu 15.04 and python 3.4.3.Could you help me ?

[2015-10-19 15:09] jiffies commented on #86
Running use python3 and in a virtualenv could figure it out.But I encounter another problem just post in new issue.

[2015-10-19 15:28] jiffies commented on #87
I got it. JAVAHOME must be java executiable itself.Not the folder.And Picked up JAVA_TOOL_OPTIONS is a extra problem,need to be remove.I use ugly method unset JAVA_TOOL_OPTIONS.

[2015-10-24 23:44] iScienceLuvr commented on #62
@rafacarrascosa  @jmansilla  I do not undersrand how this code works... So predict() is the function that learns to classify? And what are the questions the are asked to the user?

[2015-10-26 12:57] fiannuzzi commented on #86
Hello everyone, same issue here. I am on Ubuntu 15.04 and followed the instructions here: http://iepy.readthedocs.org/en/latest/installation.html

**When running iepy --download-third-party-data I get:**

Traceback (most recent call last):
  File "/home/francesca/PY_VIRTUALENV/lib/python3.4/site-packages/pkg_resources/__init__.py", line 612, in _build_master
    ws.require(__requires__)
  File "/h

[2015-10-26 21:35] sbriglie commented on #86
Hi! I was also experiencing this issue and I was able to find a workaround. After some digging around in the virtualenv I established that the issue was that iepy requires (through pip at least) six==1.5.2. Featureforge, another dependence, requires mock, whose latest version, 1.3.0, requires six>=1.7, causing the conflict. The workaround is
pip uninstall mock
and
pip install mock==1.1.0
This earl

[2015-10-27 09:31] fiannuzzi commented on #86
That worked for me! Thank you sbriglie!

[2015-11-13 19:27] delgesu1745 commented on #86
Hi all,

I'm receiving the follow error message.  Seems to be related to what sbriglie and other are discussing here.  Can anyone help point me in the right direction for how to fix?  I'm running Ubuntu 14.04 inside of a Docker container on a Macbook Pro machine.  I was able to install all IEPY dependencies, Java, etc, but get hung up with the error below when I try to pip install IEPY itself.  I'

[2015-11-19 21:47] jmansilla commented on #86
delgesu1745: your issues is about installing FeatureForge https://github.com/machinalis/featureforge which is one of the IEPY dependencies, and its related with your python not been able to work with unicode characters.

Can you try in your shell to configure your environment like this
export LANG=en_US.UTF-8
and retry?

[2015-11-19 22:48] jmansilla commented on #87
it seems that you solved ut by yourself.
I'm closing this issue

[2015-11-19 22:48] #87 closed

[2015-11-20 02:50] jmansilla commented on #86
Respect the issue with six, it's solved on develop now.

[2015-12-02 13:57] ezesalta opened #89 "error in preprocessing with a different pipeline"
I change the pipeline in preprocess:
[code]

[2016-02-15 00:21] zfrenchee opened #90 "Problem with Install"
Ubuntu 14.04, Python 3.4.

[code]

Any idea what might be going wrong?

[2016-02-15 00:28] zfrenchee commented on #90
[Removing libopenblas-base](http://stackoverflow.com/questions/8917977/installing-lapack-for-numpy) did not work. Neither did [upgrading numpy](http://stackoverflow.com/questions/23612728/error-by-import-numpy-lapack-lite-so-undefined-symbol).

[2016-02-15 00:39] zfrenchee commented on #90
Upgrading/Reinstalling numpy actually worked the second time around. Weird.

[2016-02-15 00:39] #90 closed

[2016-02-15 08:25] zfrenchee opened #91 "Couldn't find the expected field names on the provided csv ['document_id', 'document_text']"
If the documentation could be updated with some reference about how to put together the specific csv format, that would be much appreciated. This is the code that builds the CSV:

[code]

[2016-02-15 12:38] francolq commented on #91
I think that should be ok.

These are all the docs we have: http://iepy.readthedocs.org/en/latest/instantiation.html#csv-importer

Here you have an example: http://cs.famaf.unc.edu.ar/~francolq/godfather.csv

[2016-02-15 17:21] zfrenchee commented on #91
The issue I think is I needed `	writer.writeheader()` before the for loop. Making mention of that in the docs could be nice. Also adding the example to the docs could be cool.

[2016-02-15 17:26] zfrenchee opened #92 "Page not found (404)"
I've been following the "From 0 to IEPY" tutorial. I've loaded the data, run preprocess, and now I'm trying to [Open the web interface](http://iepy.readthedocs.org/en/latest/tutorial.html#open-the-web-interface).

The first time I run `python bin/manage.py runserver` it says I need to run a migration first. I do.

Then, I try to `runserver` again, and I get some promising output:

[code]

But as s

[2016-02-17 20:33] #91 closed

[2016-03-07 05:53] iScienceLuvr commented on #85
@rafacarrascosa Hello again...it has been a long time...I just wanted to ask whether it is planned to make the corpora public? If there is any need for help for developing built-in relations, I could help, but I am pretty busy. I noticed I misunderstood your previous questions. I plan to add some basic relations from ConceptNet (if you have some specific ones in mind, please tell me)...I plan to t

[2016-03-08 03:37] iScienceLuvr commented on #85
@rafacarrascosa have you been able to see this message?

[2016-03-08 16:56] rafacarrascosa commented on #85
Hi @iScienceLuvr , yes, I saw it but I was too busy until now.
I've just taken your inquiry to my bosses to try and make a public release of the corpora we have... I'll let you know when I have an aswer.

[2016-03-08 18:07] iScienceLuvr commented on #85
@rafacarrascosa thanks!

[2016-03-08 18:12] rafacarrascosa commented on #85
@iScienceLuvr I have a partial answer:
We at Machinalis want to make it public but since they are derived works from another corpora we have to check the licensing issues with more detail.
Ie, we are willing to make them fully public but we have to check the original licenses to avoid copyright issues.

In the mean time, I have permission to share with you some corpora we have, as long as you do a

[2016-03-19 16:56] jmansilla commented on #92
Hi there.

I'm not sure whats going on.

I just made a try locally creating a new IEPY instance, and just after that starting the server, and I didnt have any problems.

When I went to such url (http://localhost:8000/) I was redirected to http://localhost:8000/admin/login?next=/ from where I logged in.

Two questions:
 - what iepy version are you using?
 - Can you make a try creating a new iepy in

[2016-03-20 23:22] jmansilla commented on #89
Shall be part of next 0.9.5 release

[2016-03-21 00:09] #75 closed

[2016-03-21 00:09] #76 closed

[2016-03-21 00:09] #77 closed

[2016-03-21 00:09] #86 closed

[2016-03-21 00:09] #89 closed

[2016-03-21 00:11] jmansilla commented on #83
Gilles I'm considering this issue as solved.

As J0hn said, we will be glad to receive a pull request with your implementation of subcategories.

[2016-03-21 00:11] #83 closed

[2016-03-28 15:09] askmyhat commented on #92
Have the same problem but there wasn't a message about migration
IEPY 0.9.5

[2016-03-28 15:57] jmansilla commented on #92
Hello People.

I still cant reproduce this, so I'm not completely sure what's happening to you.
Under what environment are you working on? Linux, Max? Version?

Question/Tip (just in case): did you try 127.0.0.1 instead of localhost?

[2016-03-28 17:02] jmansilla commented on #92
Extra: can you paste in here the logging/output of the server after you attempt to access the website?

[2016-03-29 08:45] askmyhat commented on #92
Ubuntu 15.04
Python 3.5.1
IEPY 0.9.5
Django 1.9.4
Sklearn 0.17.1
NLTK 3.2
With that configuration I can run the server.

Following installation guide from docs I ran "pip install iepy"
Running iepy command returns "can't set attribute" error in
.../python3.5/site-packages/nltk/internals.py
`parsed_pattern.pattern.groups = 1`
Upgrading NLTK to latest version solved that problem.

Then I modified im

[2016-03-29 09:56] askmyhat commented on #92
Downgrading django to 1.8 is solution for me

[2016-03-29 13:41] jmansilla commented on #92
Thanks for letting me know.
It's strange, because it's pinned to Django 1.7 (glad to see that it's at least working on 1.8)

I didn't realize yet that you people were using a higher Django version.  IEPY installation brought django 1.9, or you hand installed it?
Is there a special need for having it on such version?

Thanks for your reports

[2016-03-29 15:46] askmyhat commented on #92
I am not sure about @zfrenchee's configuration.
IEPY installation brought me Django 1.7.x. I did manual upgrade of it to the latest version.

[2016-03-31 09:22] leeapi2014 opened #93 "How to predict?"
When I labeled some evidences and ran the active learning core by
**python bin/iepy_runner.py \<relation_name\> \<output\> **
It seemed the prediction didn't work for all evidences.
For example, I have 100 evidences and label 20 evidences, the output only contains prediction for those 20 evidences.

[2016-03-31 13:44] VitalyShcherb opened #94 "Cannot merge entities of different kinds {<EntityKind: PERSON>, <EntityKind: LOCATION>}"
Hello. I load the database. After that i'm running `python bin/preprocess.py`. There are some errors during processing:

[code]
IEPY  0.9.5
UBUNTU 15.10

This is document number 111:

[2016-03-31 15:28] jmansilla commented on #94
Hello there.

Those lines are not errors to worry about. Instead, are warning messages.

In the Stanford preprocess wrapper we have, after entities are detected, the code attempts to "merge correferences", ie, for the entity-occurrences sets on which there's a suspicion that they are all refering to the same entity, the system "merges" them, making all of the point to the same Entity.

On such att

[2016-03-31 15:28] #94 closed

[2016-04-06 07:36] donnut opened #95 ""can't set attribute" error"
I've install iepy on an arch linux machine in a fresh conda environment. There are no problems during installation with `pip install iepy`

However, if I try to run iepy there is an error message
[code]
Any idea what might be wrong?

[2016-04-06 12:26] jmansilla commented on #95
Hi donnut.

It seems that nltk version we are requiring is not playing well with python3.5 as discussed in here https://github.com/nltk/nltk/issues/1106

Will try to fix our dependencies within these days to fix that (easy to do, very slow to test and need to find the time for that), since there is a nltk release that shall be working.

If you are in hurry (and also want to give me a hand testing

[2016-04-06 12:30] donnut commented on #95
I try to get it working and let you know.

[2016-04-06 12:34] donnut commented on #95
BTW, how do you want to change the deps? Downgrade nltk, or python?

[2016-04-06 12:41] jmansilla commented on #95
If you have a python3.4 at hand, use it and you shall be able to install iepy with it.

What we would like to do in a near future is to fix our dependencies (upgrade nltk) in order to allow python3.5

[2016-04-06 12:50] donnut commented on #95
Got it.

[2016-04-23 17:54] birdmw opened #96 "django.db.utils.OperationalError: unable to open database file"
Vanilla iepy, was working fine but now I am getting a db access error.

godfather.csv is from the example.

traceback:

#####@#####-thinkpad:~/Desktop/nlp/ie_project$ sudo python3 bin/csv_to_iepy.py godfather.csv
Importing Documents to IEPY from godfather.csv
Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/django/db/backends/__init__.py", line 133, in ensure_conne

[2016-04-23 17:59] birdmw commented on #96
It was just a java issue

[2016-04-23 17:59] #96 closed

[2016-04-25 16:20] jmansilla commented on #96
Thanks Matthew for the auto-close.

Can you provide a little more info, just in case it's useful for someone else in the future?

[2016-04-25 18:18] j0hn commented on #93
Sorry for the late response.

This might be a bug. I ran a quick experiment and i think i spotted it but haven't got enough time to keep debugging it. I have some kind of fix but it would be really useful if you could test it and tell me if really fixes the problem.

To test it you could either

a) download [this branch](https://github.com/machinalis/iepy/tree/93-unpredicted-evidences) where i hav

[2016-04-25 19:22] birdmw commented on #96
Sure, so there are a couple unintuitive things that people can (and I have seen) get caught on, one is the use of pip3 vs pip, and the use of python3 vs python. For many, we will need to use pip3. With the Java issue, I had to $export JAVAHOME=/path/to/java (the file, not the directory). And finally, if you run into more permissions problems, make sure you actually cd into the django project you c

[2016-05-26 01:19] ToferC commented on #95
+1 for this issue.  Running Linux Ubuntu mate with the latest build of Anaconda.

[2016-05-26 01:38] ToferC opened #97 "Segmentation fault (core dumped) - Ubuntu Mate Linux"
Hello,

I'm trying to get iepy up and running on 64 bit 16.04 Ubuntu Mate Linux using the following packages in conda:

[code]

But I'm getting the result: 'Segmentation fault (core dumped)'.  I've done some research and the most common cause is an error in C code that causes Linux to raise the fault, but I've got no information to help me debug. I'm hoping someone could point out a possible error

[2016-05-28 23:03] denidzoja opened #98 "Access is denied - C:\python23\lib\subprocess.py - Windows 8.1"
**New problem**:
`C:\Python34\Lib>iepy
Traceback (most recent call last):
  File "c:\python34\lib\runpy.py", line 170, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\python34\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Python34\Scripts\iepy.exe\__main__.py", line 5, in <module>
  File "c:\python34\lib\site-packages\iepy\instantiation\command_line.py", l

[2016-06-02 20:29] jmansilla commented on #98
JAVAHOME is an environment variable that needs to be defined pointing to the "java" binary by the nltk library.

Maybe this can help you http://stackoverflow.com/questions/7404720/nltk-fails-to-find-the-java-executable

Anyways, I wouldn't trust on making IEPY run on windows.

[2016-06-02 20:30] jmansilla commented on #97
We never used IEPY with conda, so not sure if that may be the cause (or related with) the issue

[2016-07-19 13:05] Mrweak opened #99 "run preprocess.py problem"
I have successfully installed the IEPY in my ubuntu14.04.1 linux and I also successfully imported the csv data.
But when I try to preprecess the data,it comes to the following problems:

linux@ubuntu:~/shizeshun/bin$ python3 preprocess.py
Loading StanfordCoreNLP...
Error running '/home/linux/.config/iepy/stanford-corenlp-full-2014-08-27/corenlp.sh -outputFormat xml -threads 4 -annotators tokenize,

[2016-07-19 13:50] jmansilla commented on #99
Hi!

Indeed it's an issue with Java.
IEPY behind the curtain does several NLP preprocessing tasks with a Java library (Stanford CoreNLP). And it's a resource very demanding .

Can you check this troubleshooting section of our doc to see if with that you can make it work? https://iepy.readthedocs.io/en/stable/troubleshooting.html#troubleshooting

Regards

[2016-07-19 14:24] Mrweak commented on #99
Hahaha. With your help, I solved the problem immediately.
Thank you very much!!!

[2016-08-08 05:58] sweh opened #100 "Document installation of additional languages"
The documentation notes, one should "check Stanford Core NLP documentation and files to download more language packages".

I need to get german language support into iepy. So I downloaded http://nlp.stanford.edu/software/stanford-german-2016-01-19-models.jar, but its unclear to me what I need to do with that jar file. Language files are stored under ~/nltk_data/ afaik, but in a different format.

[2016-08-08 18:31] francolq commented on #100
Language files for Stanford CoreNLP are saved in ~/.config/iepy (not in nltk_data becayuse NLTK has nothing to do here).

You will also have to edit corenlp.py and write german specific code like this one for spanish:
https://github.com/machinalis/iepy/blob/develop/iepy/preprocess/corenlp.py#L93

Hope this helps.

[2016-08-10 08:53] sweh commented on #100
Thanks, I will look into this and send a pull request if I'm successful.

[2016-08-12 13:16] ROZBEH opened #102 "installation on Python 2.7"
Hi all,

I don't know whether this is a general problem or just occurred on my MAC with python 2.7. As I was trying to run the installation of iepy from setup.py I received an error about encoding issue. It had some problem with the encoding. After some googling it turns out that this is a problem because of Python 2.7. As a result, I did the following change to the setup.py file and it solved my

[2016-08-12 13:43] jmansilla commented on #102
Hi again Rozbeh.

I'm very ashamed of the time I made you waste.

On the mailing list you asked if was it possible to install IEPY under MacOS with python2.7, and I answered yes, but I was wrong.

I'm sorry, but I was wrong[1] and the truth is that IEPY is only for python3.

You still may try to run IEPY on MacOS, but with python3 installed.

[1] I was thinking on other of the projects we maintain

[2016-08-12 13:43] #102 closed

[2016-08-12 13:49] ROZBEH commented on #102
That's ok. I already switched to ubuntu. I did succeed in installation but I could not instantiate it.

[2016-08-15 23:09] ROZBEH opened #103 "downloading third party packages"
When I try to run `iepy --download-third-party-data` for third party data, I get the following error. Does anybody has any idea what I am doing wrong?

[code]

[2016-08-16 13:40] jmansilla commented on #103
Based on this: subprocess.CalledProcessError: Command '['/usr/bin/java',
'-jar', '/home/huinfo/Documents/venv/lib/python3.5/site-packages/iep
y/preprocess/utils/get-java-version.jar']' returned non-zero exit status 255

Can you try to run
/usr/bin/java/ -jar /home/huinfo/Documents/venv/lib/python3.5/site-packages/
iepy/preprocess/utils/get-java-version.jar
so we can see the output of such problema

[2016-08-16 15:49] ROZBEH commented on #103
Before running the command that you said, terminal was like this:
`(venv) huinfo@huinfo-Precision-WorkStation-T7400:~/Documents/venv$`
After running it, terminal changed to this:
`unknown(venv) huinfo@huinfo-Precision-WorkStation-T7400:~/Documents/venv$`

[2016-08-16 15:53] jmansilla commented on #103
No output was generated? Weird.

Are you positive that you have a working JVM (java virtual machine)?

I need to get some time to test this properly.

You said that you are now using ubuntu 16.04 with java1.8 right?

On Tue, Aug 16, 2016 at 12:49 PM, ROZBEH <notifications@github.com> wrote:

--
Javier Mansilla - Developer
www.machinalis.com
Skype: javier_mansilla

[2016-08-16 15:54] ROZBEH commented on #103
I updated my previous comment. Yeah Ubuntu 16.04 and my java version is on the previous comment that I updated.

[2016-08-16 16:26] jmansilla commented on #103
Java 1.9 is not supported, and probably wont be until is officially released.
Don't you java 1.7 or 1.8, or means for getting any of those?

Regards

[2016-08-16 16:29] ROZBEH commented on #103
Let me try with java 1.7 or 1.8 and see what happens

[2016-08-16 17:04] ROZBEH commented on #103
The problem is solved now. I followed the instructions from the following link and downgrade my java version.

http://ask.xmodulo.com/change-default-java-version-linux.html

[2016-08-16 17:05] jmansilla commented on #103
great

[2016-08-16 17:05] ROZBEH commented on #103
Thanks for your prompt replies :-)

[2016-08-16 21:38] #103 closed

[2016-08-16 21:41] jmansilla commented on #98
Any luck with this @denidzoja? I'm closing this ticket as wontfix

[2016-08-16 21:41] #98 closed

[2016-08-16 21:41] #99 closed

[2016-08-16 21:44] jmansilla commented on #92
No further activity here. Closing for now.

For the record, iepy UI is working on Django 1.7 and there's no planned upgrade (although pull requests will be happily accepted)

[2016-08-16 21:44] #92 closed

[2016-08-16 21:56] jmansilla commented on #97
Hi @ToferC

Did you find anything worth trying regarding this issue?
If not, I'll be closing this request soon

[2016-08-30 11:29] sreejithc321 opened #104 "Couldn't install iepy through pip"
I am getting this error

 TypeError: 'encoding' is an invalid keyword argument for this function

Collecting iepy
  Using cached iepy-0.9.5.tar.gz
    Complete output from command python setup.py egg_info:
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "/tmp/pip-build-nP8ujN/iepy/setup.py", line 7, in <module>
        with open(path.join(HERE, 'README.

[2016-08-31 01:37] michaele4321 commented on #104
I'm not an expert on this but I ran into the same error trying to dockerize the install process. It seemed to be caused by accidentally running python 2 instead of python 3.

Did you follow the "create  a Virtualenv" step linked to from http://iepy.readthedocs.io/en/latest/installation.html ?

[2016-08-31 13:18] jmansilla commented on #104
Indeed, that error appears when running on python 2, which isn't supported.

Should be better to print a more informative error message here. Wondering how easy that would be.

[2016-08-31 16:34] dmoisset commented on #104
Checking for a python version is not too hard, I submitted a PR that does that

[2016-09-02 18:19] #104 closed

[2016-09-02 18:21] j0hn commented on #95
We have Python 3.5 support on our branch development now. Will be included in the next release.

[2016-09-02 18:21] j0hn commented on #97
I'll close this for a lack of response.

[2016-09-02 18:21] #97 closed

[2016-09-02 18:28] j0hn commented on #100
It might be a good idea to add that info to the documentation. But for the time being i'll close this since we received and accepted the pull request.

Thanks for the support!

btw, congrats for getting ticket #100, If you ever come to Argentina contact me and i'll buy you a beer for it.

[2016-09-02 18:28] #100 closed

[2016-10-09 17:01] alonsopg commented on #95
I am facing the same issue in a OSX when I try to create a iepy project:

[code]

[2016-10-10 10:09] JianyuZhao7 opened #106 "iepy --download-third-party-data"
When I input the command "iepy --download-third-party-data", the download doesn't go on and stop at some point.  I have waited for long time and have to interrupt it. The log info is as the picture shows. Could anyone help me ?

![qq 20161010180850](https://cloud.githubusercontent.com/assets/22743181/19232838/ae6174fe-8f14-11e6-9819-52f7f1c1a390.png)

[2016-10-11 20:47] jmansilla commented on #106
Hello JianyuZhao7

I'm not completely sure what happened to you, but it seems that maybe you had some internet hiccup or something like that.
I'm testing right now and --download-thir-party-data it's working from here.

Can you try to re run such command and share here the output?

Regards

[2016-10-11 21:20] jmansilla commented on #95
Did you try using the development branch? Can you?

[2016-10-12 02:45] JianyuZhao7 commented on #106
@jmansilla Thanks a lot. I've already solved the problem. I try another day and succeed. May it is the internet hiccup.

[2016-10-12 13:41] jmansilla commented on #106
Thanks for letting me know.

[2016-10-12 13:41] #106 closed

[2016-10-12 21:05] alonsopg opened #107 "Can't install iepy on Python 2"
I can not even install iepy in python 2:

[code]

What can I do?...

[2016-10-13 14:28] jmansilla commented on #107
Hi Alonso

I'm sorry, but iepy only runs on python 3. (Yes, we should have a better error message, and we actually have it on development branch)

Since you are using MacOS, you may consider installing python 3 following these instructions
https://docs.python.org/3/using/mac.html#getting-and-installing-macpython

[2016-10-13 14:28] #107 closed

[2016-10-13 14:31] alonsopg commented on #107
Hi jmansilla, I also tried to install it on Python3. Nevertheless, it did not worked... I am installing the dev version.

[2016-10-13 15:31] alonsopg commented on #95
Apparently,  it worked with the development branch:

[code]

[2016-10-13 15:53] jmansilla commented on #95
Good to know Alonso.

I'll try to make a release with development branch within these days.

[2016-10-13 18:40] jmansilla commented on #93
Thanks @j0hn for discovering the bug.

I'll prefer not to make an in-memory list of all the candidates, and instead re-create the "cadidates generator"

[2016-10-13 19:56] jmansilla commented on #93
Fix included on latest release

[2016-10-13 19:56] #93 closed

[2016-10-13 19:56] jmansilla commented on #95
Release just published.

[2016-10-13 19:56] #95 closed

[2016-10-14 14:10] alonsopg opened #108 "Can't create project"
When I try to create a project I get the following:

[code]

I also tried to install the the third party data and tools:

[code]

However, I still can install it.... any idea of what to do?

[2016-10-14 19:07] j0hn commented on #108
i've just made a fresh installation of the latest version (0.9.6) and ran `--download-third-party-data` and `--create`. Everything when smooth.

What version are you running? Could you try a fresh installation?

[2016-10-14 19:57] alonsopg commented on #108
I tried the following:

[code]

[2016-10-14 20:01] j0hn commented on #108
You need to set the `JAVAHOME` variable pointing to your java instalation.

Take a look at the [installation documentation](http://iepy.readthedocs.io/en/latest/installation.html#install-iepy-package)

Basically you just need to add the `JAVAHOME` variable to your bashrc or your shell config file

[2016-10-16 18:30] alonsopg commented on #108
Hi john, I tried to set my `JAVAHOME` as follows:

[code]

Then my .bash_profile looks like this:

[code]

Then, I tried:

[code]

I also tried:

[code]

I also tried to look at the docs. However, I still can not set my `JAVAHOME` correctly to start using iepy, any idea of what to do?. Additionally I noted that iepy version of ntlk and sklearn is "crashing" with my other versions of nltk and sklea

[2016-10-17 02:15] JianyuZhao7 opened #109 "About runserver"
When I try to finish the first instance for test, one problem occurs.
After I command "python bin/manage.py runserver", I try "curl "127.0.0.1:8000"  and there shows nothing at my ubuntu command lines.
And the first step "1 - Loading the database" and the second step "2 - Pre-processing the data" are both well done.
So, could anyone can tell me how to solve it? Thanks a lot.

[2016-10-17 13:07] j0hn commented on #108
Try using this:

[code]

and then run iepy

[2016-10-17 14:02] jmansilla commented on #109
Hi!

You'll need to access that URL with a browser.

[2016-10-17 18:37] pythonBerg opened #110 "Windows 10?"
I know install docs are ubuntu focused. Does this explicitly mean windows 10 is not supported? I have been using Stanford NLP and virtually all other prereqs and pip did install correctly. Running anything from binary iepy is problematic with errors ranging from non-standard required appdata directories to access denied errors.  Is anyone using windows or should I just move everything over to my l

[2016-10-17 23:13] alonsopg commented on #108
Still the same, after doing: `export JAVAHOME=$(which java)`:

[code]

`export JAVA_HOME=$(/usr/libexec/java_home)`

[code]

[2016-10-18 15:04] j0hn commented on #108
Your `JAVAHOME` variable should point to the java binary, the command `which java` should return you where the java binary is. For example, on my machine it's on `/usr/bin/java` so i can do this:

`export JAVAHOME=/usr/bin/java`

The line that i sent you was doing that same thing but without hard coding the path, like this:

`export JAVAHOME=$(which java)`

on your output the `JAVAHOME` variable i

[2016-10-18 15:08] jmansilla commented on #108
Note: the variable should be JAVAHOME, not JAVA_HOME

[2016-10-18 15:13] jmansilla opened #111 "Autodetect javahome?"

[2016-10-18 15:15] j0hn commented on #108
sorry, my bad there, i'll edit the comment

[2016-10-19 03:22] JianyuZhao7 commented on #109
@jmansilla
Thanks. I've tried to access the URL with Chrome just like" 114.113.233.186:8000" to browse the ubuntu server on my local win8 computer ,  but nothing occurs.
And I think the first step is to confirm whether there is any content on the ubuntu server. So I try curl "127.0.0.1:8000" . I think if the  "python bin/manage.py runserver" succeed, there will shows content. Right?

[2016-10-19 10:47] LukeGoldberg opened #112 "hi, i can't find the model "refo""
can somebody tell me where it is? thanks.

[2016-10-19 10:50] #112 closed, assigned to nobody

[2016-10-20 02:28] JianyuZhao7 commented on #109
@jmansilla what's more, I have to use the browser locally. Is it true?

[2016-10-20 05:12] alonsopg commented on #108
The main issue was that I installed java via homebrew. I uninstalled it and download from Oracle's website. I followed @j0hn's instructions, so currently I have:

[code]

Then in the terminal I tried:`iepy --download-third-party-data` and although I have this exception:

[code]

It automatically started downloading some extra dependencies and asked me for a database name. I closed the terminal and

[2016-10-20 13:34] j0hn commented on #109
@JianyuZhao7 i'm not sure i got you correctly, but if you want to run the server on one machine and browse from another (in the same network) you have to run the server like this:

`python bin/manage.py runserver 0.0.0.0:8000`

and use the server's machine ip to browse.

If you want to browse it from a machine on another network (or over the internet) you might want to try [ngrok](https://ngrok.co

[2016-10-20 13:47] jmansilla commented on #108
Please read carefully all the information we already provided, because the tip for solving that was already given: JAVAHOME **MUST** point to the binary, not to a folder.

Extra information for help you searching on the web:
- this "JAVAHOME" thing is not something defined on iepy, but instead on a very spread python library for NLP named [nltk](http://www.nltk.org/)
  - Maybe here you may find so

[2016-10-21 02:27] JianyuZhao7 commented on #109
@j0hn Thanks a lot. I've solved the problem using ngrok. What a great tool it is.

[2016-10-21 02:45] JianyuZhao7 opened #113 "download-3rd-party-data"
When I command " iepy --download-third-party-data", sth strange happens just like the following.
I succeed this command on another ubuntu server a few days and the pre-set is just the same. So could anyone tell me what's wrong? Thanks a lot.

(env34)ubuntu@ubuntu-desktop:~/iepy$ iepy --download-third-party-data
Downloading punkt tokenizer
^CTraceback (most recent call last):
  File "/home/ubuntu/i

[2016-10-21 02:54] JianyuZhao7 commented on #113
what's more, if I don't interrupt the process , finally it will show like this:
![image](https://cloud.githubusercontent.com/assets/22743181/19585175/cb290aaa-977c-11e6-96a8-9a35d5524c20.png)

[2016-10-21 13:59] j0hn commented on #113
For some reason you can't connect to the server where the files live, you can try to do it manually by downloading the following files and unziping them in `~/.config/iepy`

http://nlp.stanford.edu/software/stanford-postagger-2014-01-04.zip
http://nlp.stanford.edu/software/stanford-corenlp-full-2015-04-20.zip
http://nlp.stanford.edu/software/stanford-ner-2014-01-04.zip

either that or try again, m

[2016-10-21 14:05] #109 closed, assigned to nobody

[2016-10-21 14:05] #108 closed, assigned to nobody

[2016-10-23 17:28] alonsopg commented on #108
I guess I solved the "creating project error" in my machine with your help guys. However, I am still getting this warning:

[code]

For example when I try to download third party data:

[code]

Or when I try to create a new project:

[code]

Do I finally installed it correctly?, Thanks for your help guys!

[2016-10-24 13:26] j0hn commented on #108
@alonsopg it looks like it's installed correctly now, ignore the messages about that `DeprecationWarning`.

[2016-10-24 13:27] alonsopg commented on #108
Thank you very much guys @j0hn , @jmansilla .

[2016-11-07 12:54] ErkanBasar commented on #108
@alonsopg could you please briefly explain how did you solve the issue in your own machine?

**EDIT: solved**
I had the same problem, however, I've solved it by removing the globally installed IEPY. After that when I run the IEPY installation in the virtual environment, it worked fine.

[2016-11-07 15:13] alonsopg commented on #108
sorry for the late reply @ErkanBasar!... glad to see that you fix it!

[2016-11-11 06:35] SindhuBairavi opened #114 "Does not update preprocess and tables when content is updated."
In the event that the content is updated, only the text field in the db is updated. If i run preprocess again, it is not redo the preprocessing, so text is modified but the preprocess content is not and subsequent tables are not either.
Even if i delete the record and reload the modified content as a new record, the relative tables don't get updated.
How to handle updated content?

[2016-11-11 17:39] jmansilla commented on #114
Hi!

Current goals of IEPY does not include such a feature of automatic re-preprocess of modified documents

You may add it by defining a django post-save handler for IEDocuments, and defining in there the preprocess steps that need to be re-run. If you have the time and the desire of doing it, go ahead and we can try to guide you.

Some pointers:
- https://docs.djangoproject.com/en/1.8/ref/signal

[2016-11-15 10:51] SindhuBairavi commented on #114
Hi,
Would this post-save also help in updating the relative tables involved?
I can try adding it, but I need help in understanding the current scripts.

[2016-11-15 16:06] jmansilla commented on #114
Sindhu:

  For sure that with those post-save we/you should be able to modify
whatever it's needed to be updated.

Then, I'm not sure if I'm understanding what you mean.

Reviewing from your original post, you said "Even if i delete the record
and reload the modified content as a new record, the relative tables don't
get updated" and I'm wondering... what do you mean? Maybe I didn't read you
right

[2016-11-16 04:49] SindhuBairavi commented on #114
Hi, What I meant is, if I updated the content in the same record, the other tables like entities and segments and others do not get updated. So those tables retain the original content's data.
If I proceed to delete and then reload the record, I will need to manually check the related tables and update/delete those as well.
Do let me know if I need to elaborate more.

[2016-11-22 10:42] SindhuBairavi opened #115 "Unable to retrace the segments from the text"
When I use rules to fetch evidence candidates, the output only contains segment id and true/false. How do I fetch the segment text from the content?
I understand that I can use the offsets, but these offsets are not character level, they seem to be on tokens. Which work tokeniser/segmenter is used to replicate the same? Else the number may not match.

Any help will be appreciated! Thanks!

[2016-11-22 18:09] jmansilla commented on #114
Ok. As explained, no, iepy is not re running things when content is changed.

But, removing a document and later re-inserting it and later re-running preprocess should do the trick.
Segments, EntitiesOccurrences, and those related objects *are* removed when a document is removed.

How were you deleting Documents?

[2016-11-22 18:26] jmansilla commented on #115
Hi there.

The csv contains EvidenceCandidates ids.
Each EvidenceCandidate contains: a text segment, a left entity occurrence, a right entity occurrence and a relation.

For visualizing everything together you can use the TerminalEvidenceFormatter (available at here from iepy.extraction.terminal import TerminalEvidenceFormatter)

You can see an example of such formatter in use here https://github.

[2016-11-22 18:26] #113 closed, assigned to nobody

[2016-11-30 06:21] SindhuBairavi commented on #114
Oh.. Can you tell me how to remove a document?
I've been trying to modify with the database directly using delete statement, which i'm assuming is incorrect.

Can i remove a document from script instead of UI?

[2016-11-30 16:53] francolq opened #116 "BaseNERRunner not calling superclass init"
it should! the preprocessing breaks because self.increment is not defined (this is done in the superclass init).

https://github.com/machinalis/iepy/blob/develop/iepy/preprocess/ner/base.py#L13

[2016-11-30 20:20] jmansilla commented on #116
you are right!

[2016-12-05 17:38] jmansilla commented on #114
Yes, you can remove Documents from the UI.

If you start the webserver

`python bin/manage.py runserver`

you can later access and remove your documents from here http://127.0.0.1:8000/admin/corpus/iedocument/ (it's your local webserver address)

[2016-12-08 10:50] SindhuBairavi commented on #115
If I don't want to use the UI, but want to just generate the list of sentences/segments which the rules have marked as evidence candidates, then how to fetch the segments?

[2016-12-08 11:01] SindhuBairavi opened #117 "Do i need individual rules files for each relation?"
We need to specify the Relation in the rules.py, but it accepts only 1 relation at a time, so does that mean I need to create separate rules file for each relation?
And if i run the rule_runner script, which relation would it pick up?

[2016-12-08 20:12] jmansilla commented on #115
Here I go again.

As I tried to explain before, a iepy runner will return CandidateEvidences,
which is a piece of text with some important pieces highlighted (the
EntityOcurrences).
In some cases, the same piece of text may be part of several different
CandidateEvidences. Example, consider the following text:

"Peter was born in 1916, he married Anna in 1930, and died in 1950"

If you have a relat

[2016-12-08 20:33] jmansilla commented on #117
I'm afraid that there's no support for such a thing right now.

It shouldn't be hard to refactor the code for making this possible, so if
you think you can do this contribution, let me know and I can guide you.

On the other hand, an ugly and not very elegant way of overcoming to this
for you may be:
 - create current rules.py file
 - create files rules_A.py rules_B.py, .... rules_N.py

Later, whe

[2016-12-15 11:53] #115 closed, assigned to nobody

[2016-12-16 08:19] alonsopg opened #119 "Is there any tutorial?"
Besides the docs, Is there any tutorial or jupyter notebook notes about how to use iepy?

[2016-12-16 22:32] awolfmann commented on #117
I handled this problem, adding an extra argument to the rule decorator called "relation_name", so each rule have a relation associated with (this was the most intuitive way to solve it for me).
So that was the only change i did to the framework, the rest of the work was on my own instance, defining an attribute RELATIONS in the file rules.py as a list of relation names (instead of the RELATION att

[2016-12-19 14:39] jmansilla commented on #119
Nope, there isn't such a tutorial.

If anyone in the community is willing to write it, I'll be glad to help (but not lead)

[2016-12-20 12:10] jmansilla commented on #117
Awesome Ariel

Do you think it's possible to make a pull request (against develop branch) with such changes?

Would consist on the changes you mentioned on the "framework" plus also the changes you did on iepy_rules_runner.py (the repo file for it is here https://github.com/machinalis/iepy/blob/develop/iepy/instantiation/iepy_rules_runner.py)

[2016-12-22 10:51] #117 closed, assigned to nobody

[2016-12-22 10:53] #114 closed, assigned to nobody

[2016-12-22 10:56] SindhuBairavi commented on #111
I'm using the below statement to autodetect javahome as of now (in linux systems):
`os.environ["JAVAHOME"] = str(os.popen('which java').read()).rstrip()`

[2017-01-04 02:54] alonsopg opened #120 "Couldn't load document: field larger than field limit (131072)"
Hi guys, I tried to:

[code]
Any idea of how to proceed?.

[2017-01-10 14:51] jmansilla commented on #120
Hi Alonso.

Sorry the delay.

That issue seems to be a problem with the database, but I'm not clear where is that limit set.

Are you using SQLite? Postgres? MySQL? Any other?

[2017-01-18 11:19] SindhuBairavi opened #121 "Changing the default database"
According to [this](http://iepy.readthedocs.io/en/latest/instantiation.html?highlight=sqlite#database), so when I instantiate iepy, sqlite db is created. I tried modifying this to MySQL after creating an instance, but I get the below errors while migrating, which doesn't let me proceed.

[code]
Any options that can help me fix this?

[2017-02-01 12:55] milesscherrer opened #122 "Wish: Support for Swedish"
Would be great to have support for Swedish and other Nordic languages as we want to use IEPY to build models in these

[2017-02-01 16:28] jmansilla commented on #122
Hi milesscherrer.

I'm sorry, but I don't see this happening.
If you have the resources and the time for doing it, let us know and we can help with that.

[2017-02-01 16:28] #122 closed, assigned to nobody

[2017-02-06 04:37] eromoe opened #123 "Support language which need tokenizer (Chinese, Japanese .etc)"
I think `iepy` need a common interface to embed a tokenizer to support language like Chinese, Japanese .etc.

There is a old ie project with gui named `GATE`, it contain a pre-trained model and dataset, maybe helpful
 https://gate.ac.uk/sale/tao/splitch15.html#sec:misc-creole:language-plugins:chinese

[2017-02-06 09:16] eromoe commented on #19
@jmansilla

[code]

Have to `mkdir /root/.config` first

[2017-02-06 15:58] jmansilla commented on #19
Yes, it does indeed looks like a bug.

Non related, but probably using iepy with a regular user instead of root (the recommended) this bug wont bite you.

[2017-02-07 12:07] himarora opened #124 "Is it possible use IEPY as a service?"
IEPY is good for bulk operations, but my requirement is to get the answer as soon as possible on per request basis which can be simultaneous as well. One approach is:
1. Get the document id and text from the HTTP request.
2. Create a temporary csv file with a unique name.
3. Import that file into iepy using csv_to_iepy.py.
4. Run preprocess.py.
5. Predict the output using an already trained pickle

[2017-02-07 22:17] francolq commented on #123
Hello. The preprocessing pipeline can be customized to introduce a different tokenizer. See for instance:

https://github.com/awolfmann/PLN-2015/blob/practico4/information_extraction/resoluciones-unc/bin/preprocess.py

[2017-02-08 02:29] eromoe commented on #123
Hello @francolq ,
I have seen how to customise in docs:
[code]

Then I look into the code , `preprocess.tokenizer.TokenizeSentencerRunner` seems not be used in anywhere. And I found:
- one pipeline may have multiple runner
- one runner may have step or not

As I see, there is not just as simple as adding a tokenizer since some runners are relative.It is a little hard to customise without knowing t

[2017-02-13 18:30] jmansilla commented on #124
Hi!

I think that what you are wanting to do is very related with this other ticket: https://github.com/machinalis/iepy/issues/62

So, the short answer is "no, cannot be done out of the box", but if you follow a bit the discussion on that thread, should be possible to do the needed changes.
Want to make a try?

[2017-03-20 15:48] #119 closed, assigned to nobody

[2017-03-20 15:49] jmansilla commented on #110
Havent tested iepy inside windows. If you can collect some guidelines based on your experience, or report the issues, maybe someone can help here.

[2017-03-20 15:51] jmansilla commented on #123
Sorry the delay respect this talk. Can I still help here @eromoe ?

[2017-03-28 14:14] dmoisset opened #125 "Admin issues on django 1.8"
(I'm reporting on behalf of a mailing list user, so I'm not sure if I can reproduce this)

Soembady reported an admin crash at /admin/corpus/iedocument/add/ . The django error is

[code]

From a quick search it seems to be a bug in django-relatives: https://github.com/treyhunner/django-relatives/issues/10 which appears in django 1.8 and hasn't been fixed

[2017-04-18 19:23] Cristhiant opened #126 "Time and Number Entities"
Hi,

I was wondering what does IEPY has implemented in order to extract TIME and NUMBER entities from Spanish texts, as Stanford CoreNLP doesn't recognize such entities.

Thank's. IEPY is wonderful :)

[2017-04-25 16:41] jmansilla commented on #126
Thanks for your message Cristhiant.

As far as I remember, CoreNLP was providing Date and Number entity
recognition.

On Tue, Apr 18, 2017 at 4:23 PM, Cristhiant <notifications@github.com>
wrote:

--
Javier Mansilla - CTO
www.machinalis.com

[2017-05-09 10:47] milesscherrer opened #127 "Segmenter error"
We are building a Swedish IEPY pipeline where we do not have a syntactic parser (there is none available in Swedish). Running the active learning core, we get the following error in the hydrate function of models.py.

File "/home/ubuntu/.local/lib/python3.5/site-packages/iepy/data/models.py", line 388, in <listcomp>
    self.syntactic_sentences = [doc.syntactic_sentences[s] for s in self.sentences

[2017-05-09 14:01] jmansilla commented on #127
It seems that the easiest hack from your side is to add a dummy SyntacticParsing step to your preprocess pipeline. It should return a sequences of parse trees strings (in the format that can be parsed by nltk.tree.Tree.fromstring).

So in pseudocode your dummy syntactic parser should be doing:
`syntactic_parsing = ["()" for sent in sentences]`

[2017-05-09 14:32] milesscherrer commented on #127
Thanks, I'll try that out. I also looked into the 0.9.2 version (before syntactic parsing was added) and saw that it was missing the line 388 in models.py.

`self.syntactic_sentences = [doc.syntactic_sentences[s] for s in self.sentences]`

We tried removing the line and got it working. Running it however, there was an error in the entity offset (entities pointing to the previous token) for most se

[2017-05-15 18:25] alonsopg opened #128 "ValueError: There's no IEPY instance on the provided path bin/csv_to_iepy.py"
Which is the correct way of loading data to iepy?. I tried to:
In:
`
user@MacBook-Pro-de-User:~/Jupyter/iepy_tutorial/iepy_tutorial$ python3 bin/csv_to_iepy.py /Users/user/Jupyter/iepy_tutorial/data.csv`

Out:
[code]

My data is a .csv file which look like this:

[code]

[2017-05-15 18:32] #128 closed, assigned to nobody

[2017-05-15 18:42] alonsopg opened #129 "Loading StanfordCoreNLP... did not end"
Hey guys, I am trying to make a iepy tutorial, for this I am using the MUC-3 dataset. While performing step's 2 documentation (Pre-processing data), I noticed that while executing `preprocess.py` it neverd ends:

In:

`user@MacBook-Pro-de-User:~/Jupyter/iepy_tutorial/iepy_tutorial$ python3 bin/preprocess.py`

I got:

Out:
[code]

Any idea why this is happening, and how to solve it guys?... Note th

[2017-05-17 12:22] milesscherrer opened #130 "Multi-token entities not recognised as such with IO annotation"
Hi,

I have plugged in a custom trained StanfordNER model in IEPY with my own class labels (not the typical PERSON, LOCATION tags but very domain specific). However when labelling in IEPY, it does not recognise consecutive entity tags of the same class (IO annotated) as one entity but instead as one entity per token.

In the custom model, a PERSON such as "William Benjamin Euba" is recognised as o

[2017-05-19 13:20] jmansilla commented on #130
We had to make some explicit "merging" after receiving the NER output.
In our case  forthe stanford net I think it was made here https://github.com/machinalis/iepy/blob/develop/iepy/preprocess/stanford_preprocess.py#L317

[2017-05-22 01:24] #129 closed, assigned to nobody

[2017-05-22 16:08] alonsopg commented on #120
@jmansilla  sorry for the late reply... I did not noticed about it. I am using the default database.

[2017-05-29 08:18] milesscherrer commented on #130
After looking into the code some more I now believe it is done in: https://github.com/machinalis/iepy/blob/develop/iepy/preprocess/ner/combiner.py

However, we do not see these methods being used anywhere in the code. Do you know if this is in fact where it is done and how/where to call it?

[2017-06-06 14:38] ramonrod opened #131 "The 'appdirs==1.2.0' distribution was not found and is required by iepy"
Hi Folks,

I would like to try iepy for some relation extraction tasks. I'm having problems installing iepy. I have installed _appdirs==1.4.3_, I also tried to install _appdirs==1.2.0_ from the source, but the system still installs version 1.4.3.

I managed to installed iep in my pc, but every time I run iepy I get the error message:
_pkg_resources.DistributionNotFound: The _appdirs==1.2.0 distrib

[2017-06-06 14:46] jmansilla commented on #131
Hi

I just checked that appdirs 1.2.0 seems to be available: https://pypi.python.org/pypi/appdirs/1.2.0
Can you create a virtualenv and run in a terminal this:
`pip install appdirs==1.2.0`

I just did and installed correctly

[2017-06-06 19:35] ramonrod commented on #131
Hi,

Thanks for your reply, I was indeed able to install appdirs==1.2.0

_$ pip show appdirs
Name: appdirs
Version: 1.2.0
Summary: A small Python module for determining appropriate platform-specific dirs, e.g. a "user data dir".
Home-page: http://github.com/ActiveState/appdirs
Author: Trent Mick; Sridhar Ratnakumar
Author-email: trentm@gmail.com; github@srid.name
License: MIT
Location: c:\python36

[2017-06-09 12:52] kasra-mohaghegh opened #132 "Predict with IEPY and talk with the data base"
I go through all the steps, briefly I upload the csv file, run the preprocess and define a relation and run the iepy_runner with the defined relation and make some labaling and save them by making STOP in command line. Now I want to see the prediction for the rest of my document already uploaded to the database (or even will upload later and add to the data base). It is not clear for me how I shou

[2017-06-21 08:55] #130 closed, assigned to nobody

[2017-06-22 13:35] jcrodriguez1989 opened #133 "Problem after installing iepy. No module named..."
Hi, everyone!
I am having problems after installing iepy. I have followed _readthedocs_ installation steps. In my netbook, it works perfectly. However, I tried to install it in two desktops and there are some troubles. I am using virtualenv.

`$ python --version
Python 3.4.3
$ which python
/home/jcrodriguez/.virtualenvs/pln-2017/bin/python
$ python bin/gazettes_loader.py /home/jcrodriguez/relatedp

[2017-07-13 13:27] jcrodriguez1989 commented on #133
Solved!
In sys.path, I had a folder that contained a 'corpus' folder. So Python was trying to use it, instead of IEPY's one.

[2017-07-13 13:27] #133 closed, assigned to nobody

[2017-07-13 13:35] jmansilla commented on #133
Thanks Juan

[2017-07-22 08:01] baditaflorin opened #134 "ValueError: Cannot start core without candidate evidence"
ubuntu@ubuntu:~/mo$ python3 bin/iepy_runner.py persoana_test persoana_test.csv
Loading candidate evidence from database...
Getting labels from DB
Sorting labels them by evidence
Labels conflict solving
Traceback (most recent call last):
  File "bin/iepy_runner.py", line 184, in <module>
    run_from_command_line()
  File "bin/iepy_runner.py", line 129, in run_from_command_line
    iextractor = _co

[2017-08-04 12:38] bladechen opened #135 "python3 ./bin/iepy_rules_runner.py -> Relation 'xxxx' not found"
hi, i got quit frustrated with this tool.
i have copy the example rules.py to the project directory, but when i execute`python3 ./bin/iepy_rules_runner.py`, it tells me
'Relation 'was born' not found'

[code]

[2017-08-04 12:39] bladechen commented on #135
any suggestions on this problem, i have looked the doc more than 10 tens, but still get stuck here.

[2017-08-10 18:04] davidjb99 commented on #129
I also get this error on a mac, any fixes?

[2017-08-22 06:45] veheart commented on #135
it must run this command python bin/iepy_rules_runner.py  PER_BIRTH_DATE,  the PER_BIRTH_DATE is the relation defined in the rules.py, namely the "was born", at the same time, you must build the relation PER_BIRTH_DATE on the web( I do it first).

[2017-09-07 10:05] erumharis commented on #110
I am working on iepy in Widows 10 env. The whole installation process is quite hard and requires troubleshooting a variety of errors.. exhasuting, but will let one understand a lot of issues and respective resolutions.. l managed to install iepy  but now stuck at pre-processing the database.The system is giving following error:
  Traceback (most recent call last):
  File "scripts\test2\bin\preproc

[2017-09-08 05:38] erumharis opened #136 "web server asking for admin id and password at user interface"
When l try to run the web sever with command  \bin\manage.py runserver, it is asking for id and password under the heading of "IEPY Administration". What id and password to provide here?

Thanks

[2017-09-08 12:47] jmansilla commented on #136
should be the user and password you provided when running iepy --create

http://iepy.readthedocs.io/en/latest/tutorial.html#creating-an-instance-of-iepy

On Fri, Sep 8, 2017 at 2:38 AM, erumharis <notifications@github.com> wrote:

--
Javier Mansilla - CTO
www.machinalis.com

[2017-09-09 11:29] erumharis commented on #136
Yes it worked. Thank u !

[2017-09-25 08:31] YanWenqiang opened #137 "Where is corpus module"
Everytime my code ran into iepy/data/models.py, ImportError was raised which is "No module named corpus"

[2017-09-25 08:53] YanWenqiang commented on #123
@eromoe Right now, I want iepy to customize to Chinese, could you give me a hand ?

[2017-09-25 09:08] eromoe commented on #123
@YanWenqiang Sorry, I was just need the annotator and object binding of iepy, since it was not easy to integrate Chinese ,  I have already made my own now.

[2017-09-25 09:16] YanWenqiang commented on #123
@eromoe All right. Thanks a lot. Now I was also  met with this trouble, I really need someone could help me.

[2017-10-15 08:16] erumharis opened #138 "How to cite iepy in research publication?"
I am working on a rule-based system for spatial relations extraction using iepy, i need to cite iepy and would like to know how to cite it properly and if there is any prior publication that can be referenced?

[2017-10-18 18:08] jmansilla commented on #138
Hi.
It's awesome that you can build upon IEPY. Glad to know that.

We based our initial work on this paper
http://www.cs.columbia.edu/~gravano/Papers/2000/dl00.pdf

For citing IEPY there are no structured requirements. A link to the github
page I guess would be enough.

Thanks for asking.

On Sun, Oct 15, 2017 at 5:16 AM, erumharis <notifications@github.com> wrote:

--
Javier Mansilla - CTO
www.ma

[2017-10-19 14:39] erumharis commented on #138
Thank you for the information. Yes l have deployed IEPY on Windows 10.

I will cite the link to github then.

Thank you !

________________________________
From: Javier Mansilla <notifications@github.com>
Sent: Wednesday, October 18, 2017 11:09:02 PM
To: machinalis/iepy
Cc: erumharis; Author
Subject: Re: [machinalis/iepy] How to cite iepy in research publication? (#138)

Hi.
It's awesome that you

[2017-11-21 05:07] gowthambalachandhiran opened #139 "iepy command not recognized"
I gave java home path inside my virtual environment but its not able to create instance

JAVAHOME=/usr/lib/jvm/java-7-openjdk-amd64/bin/java JAVA_HOME=/usr/lib/jvm/java-7-openjdk-amd64/bin/java iepy --create iepy
Traceback (most recent call last):
  File "/home/gowtham/my_app/bin/iepy", line 11, in <module>
    sys.exit(execute_from_command_line())
  File "/home/gowtham/my_app/lib/python3.4/site-p

[2017-11-21 16:54] jmansilla commented on #139
Did you install iepy in a virtualenv?
Are you running the iepy command with such virtualenv activated?
In such case you shouldn't need to use sudo

On Tue, Nov 21, 2017 at 2:07 AM, gowthambalachandhiran <
notifications@github.com> wrote:

--
Javier Mansilla - CTO
www.machinalis.com

[2017-11-22 05:03] gowthambalachandhiran commented on #139
Yes I installed everything following the document below

https://media.readthedocs.org/pdf/iepy/latest/iepy.pdf

and I even activated only then I used the above commands

[2017-11-22 05:10] gowthambalachandhiran commented on #139
Issue is resolved javapath was not configured properly.

[2017-11-25 02:54] Ravi-Rao26 commented on #110
Even I have installed IEPY on windows 10 and have got this error and unfortunately its a show stopper .  The program tries to execute .sh file which is not a windows executable.  Then I set up a virtual environment (Virtual Box) in my laptop , installed Ubuntu and then set up python (3.5.2) & IEPY. Everything worked fine

[2017-11-25 05:55] erumharis commented on #110
I found a relatively quicker solution, just need to download corenlp.bat file from the Internet (it is an equivalent of the corenlp.sh file for Windows), then copy the file in IEPY's 3rd party tools folder. Finally,
replace the file name corenlp.sh with corenlp.bat inside the python script "corenlp.py".

[2017-11-27 13:51] jmansilla commented on #110
@erumharis thanks for the tip.
PR are welcomed.

[2017-11-28 05:29] erumharis commented on #110
@jmansilla Welcome. Sorry l could not get what "PR" stands for.

[2017-11-28 05:46] Ravi-Rao26 opened #140 "Rule Runner - Create Evidence"
Hi,

Trying to get the rule based classifier working but currently unable to do so.

I run the command python ./rules_verifier.py WhatisthePolicyNumberIssued?
I get the output  -
Matches for rule is_PolicyNumber
-------------------------------------
Nothing matched

I run the command python ./iepy_rules_runner.py
Output -
Relations not defined in the rule file.

Here is one sample rule that I have

[2017-11-28 13:05] jmansilla commented on #110
Pull Requests, with the changes to made to the code, so it can be incorporated

[2017-11-29 06:46] erumharis commented on #110
Oh okay. Thank you.

[2017-11-29 11:29] #110 closed, assigned to nobody

[2017-12-09 15:15] hwaking commented on #123
@eromoe I am doing Chinese EMR information extraction ， can i use iepy to do entity relationship extraction ？

[2018-01-16 05:04] shaileshrv commented on #139
Hi i am getting the below error

administrator@INKEO02263LNPR:~$ iepy
/usr/local/lib/python3.6/dist-packages/sklearn/utils/fixes.py:55: DeprecationWarning: inspect.getargspec() is deprecated, use inspect.signature() or inspect.getfullargspec()
  if 'order' in inspect.getargspec(np.copy)[0]:
Traceback (most recent call last):
  File "/usr/local/bin/iepy", line 7, in <module>
    from iepy.instantia

[2018-01-25 06:36] erumharis commented on #44
The annotations/labeled evidences, entity occurrence etc. can be visualized with the SQLite db file viewer outside of the IEPY web server environment.  One can share the SQLite db file of their annotations along with the csv corpus files as actual data and gold standard respectively.

[2018-02-01 15:20] nggary commented on #137
same here, did you solve it?

[2018-02-02 10:26] YanWenqiang commented on #137
No, iepy can't process Chinese, so i didn't use it any more.

[2018-02-11 09:19] erumharis opened #141 "Anaphora resolution"
If we specify an entity as anaphora by ticking the given checkbox, then how to link it with the actual entity it is referring to?

For example: Children are free. They are playing behind the garden.

If l mark "They" as anaphora, then how to link it with "Children".

[2018-04-20 01:50] swu038 commented on #41
Hi!

How about if you defined the relation using entities you created from the gazettes resolution? Thanks!

[2018-04-20 05:10] swu038 opened #142 "GazetteItem matching query does not exist."
Hi!

I have created created a set of gazettes, and I have included it in my database by running the provided script, gazettes_loader.py. I than ran the preprocess step, but it gives me this error that: "GazetteItem matching query does not exist". Thanks!

*Note: I accidentally ran the preprocess step before uploading the gazettes. When I realized that mistake I ran the preprocess script with the o

[2018-05-24 06:22] SeekPoint opened #143 "any example with toy dataset?"

[2018-06-27 11:03] gelina10011001 opened #144 "can't add ie document"
When I want to add iedocument. The error happens.Why?
IndexError at /admin/corpus/iedocument/add/

tuple index out of range

Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/admin/corpus/iedocument/add/
Django Version: 	1.8.14
Exception Type: 	IndexError
Exception Value:

tuple index out of range

Exception Location: 	/home/futureai/iepy_environment/lib/python3.6/site-packages/relatives/te

[2018-07-04 11:30] starplanet commented on #137
corpus is moved into webui directory

[2018-08-02 06:40] JeroenvdV commented on #143
There seems to be a relevant discussion here:

https://github.com/machinalis/iepy/issues/85

[2018-08-02 07:12] JeroenvdV opened #145 "Project status questions"
Hi guys,

IEPY looks really well-made! Thank you for providing it all open source and well-documented. It does catch the eye that in recent years there has been less activity. Personally I'm just starting to look around the IE area and what tools there are, so I'm still possibly out of the loop on things. I'm curious what the development status is within Machinalis.

- Has IEPY become obsolete bec

[2018-08-10 19:11] JeroenvdV commented on #145
@jmansilla Hi, could you provide any insight here?

[2018-08-10 20:31] jmansilla commented on #145
Hi!

Thanks for the interest and the comments.
The general answer for your questions here is that we are not currently
working on the project.

   - Has IEPY become obsolete because of 'competing' projects? It doesn't
   seem like it to me at this point.

Not sure. Probably.
StanfordCoreNLP (what is used for preprocesing) made new releases that were
not integrated.
There are tons of new techniques

[2018-08-13 03:01] Broham opened #146 "Class not found when trying to start the preprocessor?"
I've been following along on the tutorial here: http://iepy.readthedocs.io/en/latest/tutorial.html

Everything seemed to be going fine, but when I tried to run the preprocessor:

[code]

I got the error:

[code]

I checked and made sure that my java path was set correctly and everything.  I confirmed that the StanfordCore NLP is installed (it's at this path: `~/Library/Application Support/iepy/sta

[2019-02-15 18:53] nilutz commented on #146
This is a hack that solves the problem.

The stanfordnlp library is called via
`JAVAHOME -mx3g -cp "$scriptdir/*" edu.stanford.nlp.pipeline.StanfordCoreNLP`. At least on my mac with Mojave 10.14.3 this leads to the command:

`path\n/usr/bin/java -mx3g -cp **"/*"** edu.stanford.nlp.pipeline.StanfordCoreNLP`

The "/*" part doesn't exists as a command. If you want to it get to work you can edit the s

[2019-04-18 10:09] ghost commented on #128
This should not be closed, i just cloned this repositoy and I have the same issue

`ValueError: There's no IEPY instance on the provided path instance/csv_to_iepy.py`

The documentation references a `bin` folder, but that does not exist.

[2019-04-18 10:14] ghost opened #147 "ValueError: There's no IEPY instance on the provided path instance/csv_to_iepy.py"
I was interested in giving this a shot, got to the point of importing some data, and I got the following error while followint [the tutorial](https://iepy.readthedocs.io/en/latest/tutorial.html)
[code]

The init code is confusing, i am not sure where you are looking, and what you are looking for. Are you looking for the iepy executable?

I installed all code in a new environment python3.6 and did

[2020-10-20 04:09] TerenceLiu98 opened #148 "Enhancement: PATH of $JAVAHOME"
The `$JAVAHOME` should be point to `/<JDK_PATH>/java` directly, this might need pointed out in the installation. Since the usual way is `$JAVA_HOME=/JAVA/PATH/bin/` or  `$JAVA_HOME=/JAVA/PATH/` .
for instance, using apt to install OpenJDK-8, the path is : `/usr/lib/jvm/java-8-openjdk-amd64/`, hence, the `$JAVAHOME` is `/usr/lib/jvm/java-8-openjdk-amd64/java` ->
[code]

[2021-05-16 11:42] timgates42 opened #149 "Proposing a PR to fix a few small typos"
# Issue Type

[x] Bug (Typo)

# Steps to Replicate and Expected Behaviour

- Examine iepy/instantiation/iepy_runner.py, tests/test_relations.py and observe `shorcut`, however expect to see `shortcut`.
- Examine iepy/defaults.py, tests/test_db_preprocess_administration.py and observe `explicitely`, however expect to see `explicitly`.
- Examine tests/test_segments.py and observe `correcly`, however

[2021-11-04 13:49] Muaado commented on #148
Hi, i am trying to run the installer on ubuntu but can't seem to go beyond installation lf sckitlearn . could you give some pointers

[2021-11-05 06:26] TerenceLiu98 commented on #148
I am not quite understand the question, you mean it cannot be installed  the package cannot installed with sklearn?

[2021-11-06 13:59] Muaado commented on #148
rom featureforge>=0.1.5->iepy) (4.0.3)
Building wheels for collected packages: scikit-learn
  Building wheel for scikit-learn (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3 -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/tmp/pip-install-6vtzk3qa/scikit-learn/setup.py'"'"'; __file__='"'"'/tmp/pip-install-6vtzk3qa/scikit-learn/setup.py